:root { 
  --bg: #2C1527;
  --hilite: #FFFFFF;
  --bright: #12bfd1;
  --text: #e5dde4;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	/* background:url(../background.jpg) repeat; */
	background-color: var(--bg);
	color: var(--text);
	font-size: 16px;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--hilite);
}

a:hover {
	text-decoration: none;
	background-color: var(--bright);
	color: var(--bg);
}

h1 {
	font-size: 3.125rem;
	color: var(--bright);
	margin: .2rem;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	color: var(--hilite);
	margin: .2rem;
}


h3, h3 a {
	font-size: 2rem;
	font-weight: bold;
	color: var(--hilite);
	margin: .2rem;
}


article h3, article h3 a {
	font-size: 2rem;
	font-weight: bold;
	color: var(--hilite);
	margin: .2rem;
	text-decoration: underline var(--bright);
}



#wrapper {
	float: left;
	width: 100%;
	height: 100%;
}

#left-col {
	width: 35%;
	float: left;
	transition-duration: .5s;
}

.left-col-smaller {
	width: 13rem !important;
	position: fixed !important;
}

.right-col-smaller {
  margin-right: 1rem;
}


#left-col #page-title {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 1.125rem;
	float: left;
	text-align: right;
	line-height: 2.375rem;
	border-bottom: var(--bright) 20px solid;
}

#left-col #main-menu {
	float: left;
	width: 100%;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: var(--hilite);
	text-align: right;
}

#left-col #main-menu ul {
	list-style: none;
}

#right-col {
	width: 60%;
	margin-left: 0.3125rem;
	float: right;
	border-top: var(--bright) 1.25rem solid;
	transition-duration:  .5s;
}

#right-col #hot-spot {
	width: 100%;
	margin-top: 1.25rem;
	float: left;
	font-size: 4.5rem;
	color: var(--hilite);
	text-align: left;
	font-weight: bold;
	letter-spacing: -0.3125rem;
	line-height: 3.4375rem;
}

#right-col #hot-spot p {
	margin: 0;
}
/*.texts {*/
/*	width: 200px;*/
/*	margin-right: 5%;*/
/*	margin-top: 60px;*/
/*	font-size: 12px;*/
/*	color: var(--hilite);*/
/*	float: left;*/
/*}*/

/*.texts p {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	line-height: 13px;*/
/*	float: left;*/
/*	text-align: left;*/
/*}*/

/*.texts p:first-letter {*/
/*	font-size: 14px;*/
/*}*/

article p {
	margin-right: 1rem;
}

#rodape_container {
	width: 100%;
	float: left;
	height: 2.5rem;
	color: var(--hilite);
	font-size: 1rem;
	margin-top: 3.125rem;
}

#rodape {
	height: 2.5rem;
	width: 100%;
	float: right;
	padding: 0;
	border-bottom: var(--bright) 0.625rem solid;
	text-align: right;
}

#rodape p {
	margin-right: 5%;
}

/* Contact Form */
form {
  display: grid;
	padding: 2rem 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--bg)
}

input::placeholder,
textarea::placeholder,
button::placeholder {
	color: var(--text);
}

input,
textarea {
	border: 0.125rem solid var(--bright);
  border-radius: 1.5rem;
}

button {
	border: 0.125rem solid var(--hilite);
  border-radius: 1.5rem;
	background-color: var(--bright);
	color: var(--hilite);
	cursor: pointer;
}

/* Responsive mode */
@media screen and (max-width: 600px) {
 
	#wrapper, #left-col, #left-col #page-title,
	#left-col #main-menu,
	#right-col, #right-col #hot-spot,
	#rodape_container, #rodape {
	float: none !important;
	}
	
  #left-col, #right-col {
		width: 100%;
	}
	
	#page-title {
		padding-top: 1em !important;
		transition: 1s;
	}

	.article, .aside {
	width: 100%;
	}
	
	#main-menu li {
		display: inline-block;
	}
 
}