<footer>
  <small>
    This project is maintained by <a href="{{ pkg.author.url }}">{{ pkg.author.name }}</a>.
    Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
</footer>
