<div id="rodape_container">
    <small>
    <div id="rodape">
    	<p>    This project is maintained by <a href="{{ pkg.author.url }}">{{ pkg.author.name }}</a> | 
    Check out the <a href="{{ pkg.repository.url }}">Github repo</a> | Design by: <a href="http://www.twitter.com/unaghii" title="aaaaaaaaaah, unaghii">unaghii</a>.</p>
    </div>
    </small>
</div>